/*
* jtable styling
*/
.jtable-command-button{
	opacity: 1 !important;
}

.jtable-command-button:hover{
	opacity: 0.6 !important;
}

.show-policies.jtable-command-button.jtable-edit-command-button
{
	background: url("../../icons/policy_16px.png") no-repeat scroll 0 0 transparent !important;
}

.show-role.jtable-command-button.jtable-edit-command-button
{
	background: url("../../icons/tools_16px.png") no-repeat scroll 0 0 transparent !important;
}

.show-group.jtable-command-button.jtable-edit-command-button
{
	background: url("../../icons/group_16px.png") no-repeat scroll 0 0 transparent !important;
}

.confirm-email.jtable-command-button.jtable-edit-command-button
{
	background: url("../../icons/contact_16px.png") no-repeat scroll 0 0 transparent !important;
}

