<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
		body{font-family:"Courier New", Courier, monospace};
		.message{font-size:0.8em};
	</style>
</head>
<body>
    <p> Dear ${user.firstName},</p>
    <p> ${message} </p>
    <p> Best regards, </p>
    <p> UDG Manager <br/>
		University of Cantabria Meteorology Group (UCMG), Spain<br/>
		http://www.meteo.unican.es 
	</p>

<p class="message">This message was sent by the admin. Do not answer this email.<br>
If you have any issue, do not hesitate to contact us at meteo@unican.es</p>
</body>
</html>