header{
    color: #262626;
    min-height: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

header .header-content {
    padding: 100px 15px;
    position: relative;
    text-align: center;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header .header-content {
		padding: 0 50px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	header .header-content .header-content-inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
	}
}