html, body {
    height: 100%;
    width: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: #EDEFF0;
}


a {
    transition: all 0.35s ease 0s;
}

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus{
    outline: none;
    outline: 0;
}

p {
	text-align: justify;
	text-justify: inter-word
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

section{
	padding: 100px 0
}

/*
* Custom classes
*/


/* .modal { */
/*     display:    none; */
/*     position:   absolute; */
/*     z-index:    1000; */
/*     top:        0; */
/*     left:       0; */
/*     height:     100%; */
/*     width:      100%; */
/*     background: rgba( 255, 255, 255, 1 )  */
/*                 url('http://i.stack.imgur.com/FhHRx.gif')  */
/*                 50% 50%  */
/*                 no-repeat; */
/* } */

footer .footer-content{
	padding: 40px 0;
}

ul.icon-list{
    margin: 20px 0;
	list-style: outside none none;
	padding: 0;
}

ul.link-list li{
	 margin: 0 5px 5px 0;
	 display: inline-block;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Jquery UI custom classes */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #333 !important;
}

button.btn-success button.ui-state-hover{
	background: none !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
    color: #fff !important;
}

/*****************************/
/* Bootstrap custom classes */
/****************************/

.navbar-fixed-top, .navbar-fixed-bottom{
	z-index: 5 !important;
}
.form-control{
	color: #333;
}

.thumbnail-mosaic {
	width: 250px !important;
	height: 250px !important;
}

.thumbnail hr {
	margin: 10px 0 0 0;
}

.thumbnail h4 {
	margin-top: 0;
	text-transform: capitalize;
	text-align: center;
}

.thumbnail .caption p {
	font-size: 0.8em;
}


/* CUSTOM CLASES */

.page-heading{
	background-color: #262626;
    color: #EDEFF0;
    padding: 55px 0 20px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.body-background {
	background-image: url("../img/shattered.png");
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
}


.container-navbar {
	padding-top: 60px;
}


.text-light{
	color: #F6F6F6;
}

.text-inverse{
	color: #262626;
}

a.light-blue{
	color: #5bc0de;
}

.span-or {
    background-color: white;
    display: block;
    left: 50%;
    margin-left: -1.5em;
    position: absolute;
    text-align: center;
    top: -0.6em;
    width: 3em;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.section-heading{
	padding-bottom: 50px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mainbox {
    color: #000;
    top: 50%;
    padding-bottom: 50px;
}

.btn-primary {
    background-color: #f05f40;
    border-color: #f05f40;
    color: #fff;
    transition: all 0.35s ease 0s;
}

.btn-inverse {
    background-color: #262626;
    border-color: #262626;
    color: #fff;
    transition: all 0.35s ease 0s;
}

.btn-inverse:hover{
    background-color: #6b6b6b;
    border-color: #6b6b6b;
    color: #fff;
    transition: all 0.35s ease 0s;
}

section.inverse, footer.inverse{
	background-color: #262626;
	color: #FFF
}

hr.fieldset-header {
    margin: 0 0 1.5em;
}

label {
    font-size: 0.9em;
	font-weight: 100;
}

.navbar-footer{
	padding-top: 2px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 0px !important;
}

.panel-footer-error{
	color: #FF0000;
	border: 0.1em solid #FF0000;
}

.footer-sticky {
  background-color:#F5F5F5;
  bottom:0;
  height:60px;
  position:absolute;
  width:100%;
}

.footer-sticky .container {
 padding-top: 5px;
}


/*************************************************
* Custom UI DIALOG
**************************************************
*/


.ui-dialog
{
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

 .ui-dialog .ui-dialog-content
 {
     position: relative;
     border: 0;
     padding: .5em 1em;
     overflow: auto;
     zoom: 1;
 }

.ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-buttonpane
{
    background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #232323;
    display: block;
/*     font-size: 15px; */
    font-weight: 300;
    border-radius: 0px;
}

.ui-dialog .ui-dialog-buttonpane{
    padding: 0;
}

.ui-dialog .ui-button {
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 300 15px/39px 'Open Sans',Helvetica,Arial,sans-serif;
    outline: medium none;
    overflow: hidden;
    padding: 0 10px;
    text-decoration: none;
    background: #2DA5DA;
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
    border-radius: 0.2em;
}

.ui-dialog .ui-dialog-titlebar-close{
/* 	background: none !important; */
	width: 22px !important;
	height: 22px !important;
}

.ui-dialog .ui-icon-closethick{
	padding: 0;
}

.ui-widget-content
{
    border:none;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#dialog.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#dialog.loading .modal {
    display: block;
}


