<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-3.2.xsd">


<!--         <bean id="openIdAuthFailureHandler" class="es.unican.meteo.tap.security.MyAccessDeniedHandler"/> -->
        <bean id="customAuthenticationFailureHandler" class="es.unican.meteo.tap.security.MyAuthFailureHandler">
        	<property name="defaultFailureUrl" value="/signin"/>
        </bean>
        <bean id="userDetailsService" class="es.unican.meteo.tap.service.impl.UserDetailsServiceImpl"/> 

		<!-- REMEMBER ME BEANS -->
		<bean id="rememberMeServices" class="es.unican.meteo.tap.security.CustomRememberMeServices">
			<constructor-arg index="0" value="myappkey"/>
			<constructor-arg index="1" ref="customUserDetailsService"/>
			<constructor-arg index="2" ref="jdbcTokenRepository" />
    		<property name="useSecureCookie" value="false" />
		</bean>
        <bean id="customUserDetailsService" class="es.unican.meteo.tap.service.impl.UserDetailsServiceImpl"/>  
		
		<bean id="jdbcTokenRepository" class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl"> 
    		<property name="createTableOnStartup" value="false" /> 
    		<property name="dataSource" ref="dataSource" /> 
		</bean>
		
		<bean id="customAuthenticationSuccessHandler" class="es.unican.meteo.tap.security.CustomAuthenticationSuccess">
			<property name="defaultTargetUrl" value="/user/home"/>
		</bean>
		
		<bean id="customAuthenticationEntryPoint" class="es.unican.meteo.tap.security.MyAuthenticationEntryPoint">
			<property name="defaultLoginUrl" value="/signin" />
		</bean>


		<security:http  auto-config="false" entry-point-ref="customAuthenticationEntryPoint">
			<security:intercept-url pattern="/signin*" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
			<security:intercept-url pattern="/signup*" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
			<security:intercept-url pattern="/home*" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
			<security:intercept-url pattern="/welcome*" access="ROLE_USER, ROLE_ADMIN" requires-channel="https"/>
			<security:intercept-url pattern="/user/*" access="ROLE_USER, ROLE_ADMIN" requires-channel="https" />
			<security:intercept-url pattern="/rest/signin" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https" />
			<security:intercept-url pattern="/rest/*" access="ROLE_USER, ROLE_ADMIN" requires-channel="https" />
			<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN" requires-channel="https" />
			<security:logout logout-success-url="/" />
<!-- 			<security:session-management session-fixation-protection="none"/> -->
<!-- 			<security:port-mappings> -->
<!--        			<security:port-mapping http="8080" https="8443"/>		 -->
<!--    			</security:port-mappings> -->
   			
			<security:openid-login default-target-url="/user/home" authentication-success-handler-ref="customAuthenticationSuccessHandler" authentication-failure-handler-ref="customAuthenticationFailureHandler" user-service-ref="userDetailsService">
				<security:attribute-exchange identifier-match="https://.*/esgf-idp/openid/.*"> 
					<security:openid-attribute name="email" type="http://axschema.org/contact/email" required="true"/>
					<security:openid-attribute name="firstname" type="http://openid.net/schema/namePerson/first" required="true"/>
					<security:openid-attribute name="lastname" type="http://openid.net/schema/namePerson/last" required="true"/>
					<security:openid-attribute name="friendly" type="http://schema.openid.net/namePerson/friendly" required="true"/>
				</security:attribute-exchange>
			</security:openid-login>
			<security:remember-me key="myappkey" services-ref="rememberMeServices" /> 
			<security:form-login login-page="/signin" authentication-success-handler-ref="customAuthenticationSuccessHandler" authentication-failure-handler-ref="customAuthenticationFailureHandler" default-target-url="/user/home" />  
		</security:http>        
	<security:authentication-manager>
	   <security:authentication-provider>
	   	<security:password-encoder hash="md5"/>
		<security:jdbc-user-service data-source-ref="dataSource"
		   users-by-username-query="
  		      SELECT username, password, active as enabled  
  		      FROM users WHERE username=?"  
 
		   authorities-by-username-query="
		      select ur.username, ur.rolename as authority from users_roles ur 
		      where ur.username=?" />
	   </security:authentication-provider>
	</security:authentication-manager>
</beans>